body {
	font-family: 'Lato', sans-serif;
	color: #CCCCCC;
	background:#014444;

	/* Background Pattern by Atle Mo (design)
	 Sébastien Grosjean (code) 
	 http://lea.verou.me/css3patterns/#carbon*/
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#012222;
	background-size:16px 16px;
}

ul{
 list-style-type: none;

}
ul li {
	display:inline;
	padding: 20px;
}

.hero-image {
	background-image:url("images/about-hero.jpg");
	height: 500px;
}
.about{
	background-image:url("images/about-hero.jpg");
	font-size:1.5em;
}
.featured .col-md-6 {

	padding-bottom:30px;
}
